@inherits LayoutComponentBase
@layout AccountLayout
@using sections

<section class="account-details">
    <div class="container">
        <aside>
            <Frontend_WebApp.Components.sections.AccountProfileAvatar />
            <ManageNavMenu />
        </aside>
        <div class="content">
            @Body
        </div>


    </div>
</section>
